.*
!.gitignore
!.scalafmt.conf
!.scalafix.conf
!.gitlab-ci.yml
script/

node_modules

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea*

# metals specific
project/metals.sbt
